
@{
    ViewBag.Title = "CallApi";
}

<h2>CallApi</h2>

<p>AccessToken: @ViewBag.AccessToken </p>

<p>RefreshToken: @ViewBag.RefreshToken </p>

<p>Action: @ViewBag.Action</p>

<form action="@Url.Action("CallApi")" method="post">
    <input type="submit" name="submit.callapi" value="click for callapi" />
</form>