
@{
    ViewBag.Title = "CallApi";
}

<h2>CallApi</h2>

<p>AccessToken: @ViewBag.AccessToken </p>

<p>RefreshToken: @ViewBag.RefreshToken </p>

<p>Action: @ViewBag.Action</p>

<form action="" method="post">
    <input type="submit" name="submit.getToken" value="Get Token" />
    <input type="submit" name="submit.refreshToken" value="Refresh Token" />
    <input type="submit" name="submit.callapi" value="Call Api" />
</form>